html {
    box-sizing: border-box;
    font-family: DejaVu Sans Mono, monospace;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1100px;
    margin: 100;
    opacity: 0.85;
    background-image: url(../images/backgroundphotocalculator.jpg);
    background-size: 1100px 600px;
    background-repeat: no-repeat;

  
}
