html {
    box-sizing: border-box;
    font-family: DejaVu Sans Mono, monospace;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    background-image: url(../images/backgroundphotocalculator.jpg);
    background-size: 

  
}
